<div class="buttonList">
  <app-member-dashboard-my-info-user-header class="userHeaderOnDashboardDesktop"></app-member-dashboard-my-info-user-header>
  <a class="buttonStyleLink" [routerLink]="['/dashboard/boarding-pass']">Boarding pass</a>
  <a class="buttonStyleLink" [routerLink]="['/dashboard/seat-selection']">Change Seat</a>
  <a class="buttonStyleLink" [routerLink]="['/dashboard/promotion-test']">Promotion Test</a>
  <a class="buttonStyleLink" [routerLink]="['/dashboard/edit-profil']">Edit Info</a>
</div>
